*{
    margin: 0;
    padding: 0;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: rgb(215, 134, 64);
    font-size: 35px;
    font-family: Arial;
}
.btn{
    width: 100px;
    height: 40px;
    background: #b0b8ca;
    border: 2px solid #b0b8ca;
    color: #000;
    font-size: 18px;
    margin-left: 30px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus{
    outline: none;
}
.main {
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100%;
}
.blur {
    backdrop-filter: blur(2px);
    width: 100%;
  }
.page{
    width: 350px;
    height: 280px;
    background: linear-gradient(to top, rgba(249, 222, 176, 0.788)50%, rgba(249, 222, 176, 0.8)50%);
    position: absolute;
    top: 50px;
    right:400px;
    border-radius: 10px;
    margin: 3px;
    padding: 8px;
}






.page input:focus{
    outline: none;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-top: 625px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    color: rgb(128, 86, 7);

    
}


.content h1{
    font-family: 'Times New Roman';
    font-size: 40px;
    background: #eee5c6;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}



.content a{
    color: #000;
}

.content p{
    color: black;
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: rgb(215, 134, 64);
    font-size: 6px;
}
.mat-form-field {
    display: block;
    margin-left: 5px;
    margin-right: 800px;
    margin-top: 30px;
    width: 30%;
    font-size: 13px;
    color: #0b296c;
}



mat-card {
    width: 50%;
    margin: 0 auto;
}



.title {
    font-style: italic;
    font-size: 20;
    text-align: center;
}

.navbar {
    justify-content: space-between;
    height: 50px;
    font-size: 30px;
}

span {
    padding-right: 10rem;
}





.title {
    font-style: italic;
    font-size: 20;
}

.navbar {
    justify-content: space-between;
    background-color: #95694ca5;
    color: #000;
    
}

span {
    padding-right: 1rem;
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }

.button {
    background: #b0b8ca;
    width: 150px;
    height: 50px;
    font-size: 13px;
    
}

::ng-deep th.mat-header-cell{
    width: 140px;
    min-width: 140px;
}

.inp{
    width: 280px;
    height: 45px;
    background: transparent;
    border-bottom: 3px solid #b0b8ca;
    border-top: 3px solid #b0b8ca;
    border-right: 2px solid #b0b8ca;
    border-left: 2px solid #b0b8ca;
    color: #000;
    font-size: 25px;
    letter-spacing: 1px;
    margin-top: 15px;
    font-family: sans-serif;
    margin-left: 450px;
}
.mat-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 2%;
    margin-left: 20px;
    margin-top: 30px;
  }

  .mat-table a {
    color: #0b296c;
  }
  
  td, th {
    border: 0px solid #142e69;
    text-align: left;
    padding: 10px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 10%;

  }
  
  tr:nth-child(even) {
    background-color: #9fb7e941;
  }


  .example-container {
    height: 1000px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: white;
    background-color: #e1e4eb;
  }
  .example-sidenav-content {

    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .example-sidenav {
     user-select: none;     
    background-color: #142e69;
    color: white;
  }

  .full-width {
    width: 100%;
    color: white;
  }
  .example-toolbar{
    color: #000;
    background-color: white;
  }

.example-toolbar h2{
    font-size: 30px;
    color: #142e69;
    width: 100%;
    text-align:left;
}

  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
    color: white;
  }
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  .submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
    color: white;
  }

  .mat-list-icon{
    color: white;
  }



  .spaceLeft{
    margin-left: 2px;
    margin-right: 600px;
    color: #0b296c;

  }
  .space{
    margin-left: 13px;
  }

  .mat-list-item{
    color: white;
  }

  .submenu.expanded {
    transform: scaleY(1);
    
  }