*{
    margin: 0;
    padding: 0;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: rgb(215, 134, 64);
    font-size: 35px;
    font-family: Arial;
}
.btn{
    width: 100px;
    height: 40px;
    background: #8443189d;
    border: 2px solid #865534;
    color: #000;
    font-size: 18px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus{
    outline: none;
}
.main {
    width: 100%;
    background-image:  url(Images/background1.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.blur {
    backdrop-filter: blur(2px);
    width: 100%;
  }
.page{
    width: 350px;
    height: 480px;
    background: linear-gradient(to top, rgba(249, 222, 176, 0.788)50%, rgba(249, 222, 176, 0.8)50%);
    position: absolute;
    top: 50px;
    right:400px;
    border-radius: 10px;
    margin: 3px;
    padding: 8px;
}

.page h2{
    width: 350px;
    font-family: sams-serif;
    text-align: center;
    font-size: 22px;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}



.page input:focus{
    outline: none;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-top: 625px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    color: rgb(128, 86, 7);

    
}


.content h1{
    font-family: 'Times New Roman';
    font-size: 40px;
    background: #eee5c6;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.content h2{
    color: #000;
    text-align: center;
}

.content a{
    color: #000;
}

.content p{
    color: black;
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: rgb(215, 134, 64);
    font-size: 6px;
}
.mat-form-field {
    display: block;
    width: 50%;
}

mat-card {
    width: 50%;
    margin: 0 auto;
}

.title {
    font-style: italic;
    font-size: 20;
    text-align: center;
}

.navbar {
    justify-content: space-between;
    height: 50px;
    font-size: 30px;
}

span {
    padding-right: 10rem;
}



.mat-form-field {
    display: block;
}

mat-card {
    width: 50%;
    margin: 0 auto;
}

.title {
    font-style: italic;
    font-size: 20;
}

.navbar {
    justify-content: space-between;
    background-color: #95694ca5;
    color: #000;
    
}

span {
    padding-right: 1rem;
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }

.button {
    background: #eee5c6;
    width: 150px;
    height: 50px;
    font-size: 13px;
    
}

::ng-deep th.mat-header-cell{
    width: 140px;
    min-width: 140px;
}

.inp{
    width: 280px;
    height: 45px;
    background: transparent;
    border-bottom: 3px solid rgb(196, 166, 135);
    border-top: 3px solid rgb(196, 166, 135);
    border-right: 2px solid rgb(196, 166, 135);
    border-left: 2px solid rgb(196, 166, 135);
    color: #000;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 15px;
    font-family: sans-serif;

}
.mat-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 65%;
    margin-left: 120px;
    margin-top: 30px;
  }

  .mat-table a {
    color: #d5c6ac;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    color: #000;
  }
  
  tr:nth-child(even) {
    background-color: hsla(38, 51%, 72%, 0.725);
  }
