<div class="navbar">
    <span class="space">HOME</span>
    <span class="space">INFO</span>
    <span class="space">CONTACT</span>
</div>
<div class="main">
    <div class="blur">
   
        <div class="content">
            <div class="page">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <h2>LOGIN HERE</h2>
                    <input matInput type="email"  placeholder="Enter email here" formControlName="email" required>
                    <br>
                    <input matInput type="password" placeholder="Enter password here" formControlName="password" required> 
                    <br>
                    <button mat-raised-button  class="btn">LOGIN</button>
                    <p class="left">Don't have an account</p><br>
                    <a class="left" href="/registration">Sing up here</a>
                </form>
            </div>

         </div>
    </div>
</div>
<div class="contact">
    <h2>CONTACT:</h2>
    <p>Email: optica@gmail.com</p>
    <p>Number: +381 568 785</p>
</div>
<div class="info">
    <h2>INFO:</h2>
    <p>Address: Milan Milovanovic 53a</p>
</div>
