<div class="navbar">
    <mat-toolbar color="primary" class="navbar">
        <div> 
          <div> 
            <span (click)="navigate('home')">Home </span>
            <span (click)="navigate('edit')">Edit profile </span>
            <span (click)="navigate('material')">Material</span>
            <span (click)="navigate('equipment')">Equipment</span>
            <span (click)="navigate('workHour')">Work hour</span>
            <span (click)="navigate('pdf')">PDF</span>
            <span (click)="navigate('logout')">Log out</span>

       </div>
       </div>
    </mat-toolbar> 
</div>
<div>
    <mat-card>
       <button (click)="new()" class="button">New</button> 
    </mat-card>
    <mat-card>
    <div>
        <mat-table mat-table [dataSource]="workingHours">
            <ng-container matColumnDef="Date">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let workingHour">{{workingHour.date}}</td>
              </ng-container>
            <ng-container matColumnDef="StartTime">
               <th mat-header-cell *matHeaderCellDef>Strat time</th>
               <td mat-cell *matCellDef="let workingHour">{{workingHour.startTime}}</td>
             </ng-container>
             <ng-container matColumnDef="EndTime">
                <th mat-header-cell *matHeaderCellDef>End time</th>
                <td mat-cell *matCellDef="let workingHour">{{workingHour.endTime}}</td>
              </ng-container>         
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       </mat-table>
    </div>
    </mat-card>
</div>