<div class="main">
    <div class="blur">
     
      <mat-sidenav-container class="example-container" autosize>
        <mat-toolbar  class="example-toolbar">
          <h2>Appointment details</h2>         
        </mat-toolbar>
        <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
         
          <mat-nav-list>
            <button class="space" mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
  
            <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
              <span class="full-width" *ngIf="isExpanded || isShowing">Home</span>
              <mat-icon mat-list-icon>home</mat-icon>
              <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
            </mat-list-item>
            <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
              <a mat-list-item href="/optician-home-page">Home page</a>
              <a mat-list-item href="/edit-profile">Edit profile</a>
               <a mat-list-item href="/view-appointment">Work hours</a>
              <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
                <span class="full-width" *ngIf="isExpanded || isShowing">Appointments</span>
                <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
              </mat-list-item>
              <div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
                <mat-list-item>Previous</mat-list-item>
                <mat-list-item>Future</mat-list-item>
              </div>
              <a mat-list-item href="/home-page">Logout</a>
  
            </div>
          </mat-nav-list>
          <mat-nav-list>
      </mat-nav-list>
        </mat-sidenav>
      
        <div class="example-sidenav-content">
          <div class="info">
            <h3>Product: {{productName}}</h3>
            <h3>Date: {{appDate |  date:"yyyy"}}-{{appDate |  date:"MM"}}-{{appDate|  date:"dd"}}</h3>
            <h3>Time: {{appDate | date:"HH:mm"}}</h3>
            <h3>Left eye</h3>
             <p>Diopter: {{diopterLeft}}</p>
             <p>Astigmatism: {{astigmatismLeft}}</p>
             <p>Addition for reading: {{addReadingLeft}}</p>
            <h3>Right eye</h3>
            <p>Diopter: {{diopterRight}}</p>
            <p>Astigmatism: {{astigmatismRight}}</p>
            <p>Addition for reading: {{addReadingRight}}</p>
            <h3>Type of glass: {{glass}}</h3>
            <h3>Distance between pupils: {{distance}}</h3>

        </div>
          <form [formGroup]="form">
            <mat-form-field appearance="fill">
              <mat-label>Your comment</mat-label>
              <input class="inp" matInput placeholder="comment" formControlName="comment" required>
              
            </mat-form-field>
             
            <div>
              <button class="btn" (click)="done()" mat-raised-button >SAVE</button>
              <button class="btn" (click)="done()" mat-raised-button >FINISH</button>
            </div>
          </form>
        </div>
      
      </mat-sidenav-container>
     
  </div>
</div>
  