<div class="main">
  <div class="blur">
<div class="navbar">  
  <mat-toolbar color="primary" class="navbar">
    <div> 
      <span (click)="navigate('home')">Home </span>
      <span (click)="navigate('edit')">Edit profile </span>
      <span (click)="navigate('logout')">Log out</span>
 </div>
  </mat-toolbar>
</div>
<div class="content">
  <div class="page">
      <form>
          <h2>WELCOME!</h2>
          <button class="btn">ORDER PRODUCT</button>
          <button class="btn">REGISTER PATIENT</button>
      </form>
  </div>

</div>
</div>
</div>
