<div class="main">
    <div class="blur">
     
      <mat-sidenav-container class="example-container" autosize>
        <mat-toolbar  class="example-toolbar">
          <h2>WELCOME!</h2>         
        </mat-toolbar>
        <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
         
          <mat-nav-list>
            <button class="space" mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
  
            <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
              <span class="full-width" *ngIf="isExpanded || isShowing">Home</span>
              <mat-icon mat-list-icon>home</mat-icon>
              <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
            </mat-list-item>
            <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
              <a mat-list-item href="/menager-home-page">Home page</a>
              <a mat-list-item href="/edit-user">Edit profile</a>
              <a mat-list-item href="/priceList">Price list</a>
              <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
                <span class="full-width" *ngIf="isExpanded || isShowing">Register management</span>
                <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
              </mat-list-item>
              <div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
                <a mat-list-item href="/users">Users</a>
                <a mat-list-item href="/products">Products</a>
                <a mat-list-item href="/material-view">Material</a>
                <a mat-list-item href="/equipment-view">Equipment</a>
              </div>

              <a mat-list-item href="/home-page">Logout</a>
  
            </div>
          </mat-nav-list>
          <mat-nav-list>
      </mat-nav-list>
        </mat-sidenav>
      
        <div class="example-sidenav-content">
          <div class="home">
            <button class="btn" (click)="users()">USERS</button>
            <button class="btn" (click)="products()">PRODUCTS</button>
            <button class="btn" (click)="materials()">MATERIALS</button>
            <button class="btn" (click)="equipment()">EQUIPMENT</button>

          </div>
        </div>
      
      </mat-sidenav-container>
     
  </div>
  </div>
  