<div class="navbar">
    <mat-toolbar color="primary" class="navbar">
        <div> 
            <div> 
                <span (click)="navigate('home')">Home </span>
                <span (click)="navigate('edit')">Edit profile </span>
                <span (click)="navigate('material')">Material</span>
                <span (click)="navigate('equipment')">Equipment</span>
                <span (click)="navigate('workHour')">Work hour</span>
           </div>
       </div>
    </mat-toolbar> 
</div>
<div>
    <mat-card>
       <button (click)="new()" class="button">New</button>
    </mat-card>
    <mat-card>
    <div>
        <mat-table mat-table [dataSource]="materials">
            <ng-container matColumnDef="Name">
               <th mat-header-cell *matHeaderCellDef>Name</th>
               <td mat-cell *matCellDef="let material">{{material.name}}</td>
              
             </ng-container>
             <ng-container matColumnDef="Quatity">
               <th mat-header-cell *matHeaderCellDef>Quatity</th>
               <td mat-cell *matCellDef="let material">{{material.quatity}} </td>
            </ng-container>
            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let material"><button class="button" (click)="linkCLick(material.id)">Edit</button></td>
             </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       </mat-table>
    </div>
    </mat-card>
</div>