<mat-dialog-content>
    <h2>ADD USER</h2>
    <form  [formGroup]="form">
            <h2>Registration</h2>
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email" required>
            </mat-form-field> 
            <mat-form-field>
                <input type= "password" matInput placeholder="Password" formControlName="password" required>
            </mat-form-field>
            <mat-form-field>
                <input type= "password" matInput placeholder="PasswordConfirmation" formControlName="passwordConfirmation" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="First name" formControlName="firstName" required>
            </mat-form-field> 
            <mat-form-field>
                <input matInput placeholder="Last name" formControlName="lastName" required>
            </mat-form-field> 
            <mat-form-field>
                <input matInput placeholder="Birth date" formControlName="birthDate" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Phone" formControlName="phone" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Address" formControlName="address" required>
            </mat-form-field>
            <mat-radio-group  formControlName="gender" aria-label="Gender" >  
                <mat-radio-button value="1">Male   </mat-radio-button>  
                
                <mat-radio-button value="0">Female</mat-radio-button>  
            </mat-radio-group> 
            <br>
            <br>
            <mat-radio-group  formControlName="userType" aria-label="UserType" >  
                <mat-radio-button value="2">Optician</mat-radio-button>  
                
                <mat-radio-button value="3">Seller</mat-radio-button>  
            </mat-radio-group> 
        </form>
</mat-dialog-content>
<div md-dialog-actions>
    <button class="btn" mat-button color="warn" (click)="noDialog()">Cancel</button>
    <button class="btn" mat-button color="primary" (click)="yesDialog()">Add</button>
  </div>