<div class="main">
  <div class="blur">
    
    <mat-sidenav-container class="example-container" autosize>
      <mat-toolbar color="primary" class="example-toolbar">
        <h2 class="title">SCHEDULE APPOINTMENT</h2>
      </mat-toolbar>
      <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
        <button class="space" mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
        <mat-nav-list>
         
          <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
           
            <span class="full-width" *ngIf="isExpanded || isShowing">Home</span>
            <mat-icon mat-list-icon>home</mat-icon>
            <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
          </mat-list-item>
          <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
            <a mat-list-item href="/product-view">Order product</a>
            <a mat-list-item href="/registration">Register user</a>
            <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
              <span class="full-width" *ngIf="isExpanded || isShowing">Nested Menu</span>
              <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
            </mat-list-item>
            <div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
              <mat-list-item>SubSubmenu Item 1</mat-list-item>
              <mat-list-item>SubSubmenu Item 2</mat-list-item>
            </div>
          </div>
        </mat-nav-list>
        <mat-nav-list>
    </mat-nav-list>
      </mat-sidenav>
    
      <div class="example-sidenav-content">
        <div class="container">
          
         
          <mat-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>PATIENT INFORMATION</ng-template>
                <mat-form-field appearance="fill">
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="name" formControlName="name" required>
                  
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>LastName</mat-label>
                  <input matInput placeholder="last name" formControlName="last name" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="email" formControlName="email" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Phone</mat-label>
                  <input matInput placeholder="phone" formControlName="phone" required>
                </mat-form-field>
                 
                <div>
                  <button class="btn" mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" label="LEFT EYE DETAILS">
              <form [formGroup]="secondFormGroup">
                <mat-form-field appearance="fill">
                  <mat-label>Diopter</mat-label>
                  <input matInput formControlName="diopterLeft" placeholder="Diopter" required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Astigmatism</mat-label>
                  <input matInput formControlName="astigmatismLeft" placeholder="Astigmatism"required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Addition for reading</mat-label>
                  <input matInput formControlName="additionForReadingLeft" placeholder="Addition for reading"required>
                </mat-form-field>
               
                <div>
                  <button class="btn" mat-button matStepperPrevious>Back</button>
                  <button class="btn" mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="thridFormGroup" label="RIGHT EYE DETAILS">
              <form [formGroup]="thridFormGroup">
                <mat-form-field appearance="fill">
                  <mat-label>Diopter</mat-label>
                  <input matInput formControlName="diopterRight" placeholder="Diopter"required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Astigmatism</mat-label>
                  <input matInput formControlName="astigmatismRight" placeholder="Astigmatism"required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Addition for reading</mat-label>
                  <input matInput formControlName="additionForReadingRight" placeholder="Addition for reading" required>
                </mat-form-field>
               
                <div>
                  <button class="btn" mat-button matStepperPrevious>Back</button>
                  <button class="btn" mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template  matStepLabel>Done</ng-template>
              <p class="doneP">Please press DONE to confirm the entered information</p>>
              <div>
                <button class="btn" mat-button matStepperPrevious>Back</button>
                <button class="done" mat-button (click)="done()">DONE</button>
              </div>
            </mat-step>
          </mat-stepper>
    </div>
    
    </div>
    <div class="pageRight" *ngIf="patientVar===1">
      <h2 class="labele">PATIENTS</h2>
  
      <br>
      <input class="inp1" matInput placeholder="Search" formControlName="search">
      <button class="btn" mat-raised-button color="primary">Search</button>
      
      <mat-table mat-table [dataSource]="patients" class="mat-elevation-z8">
       
        <ng-container matColumnDef="FirstName">
          <th mat-header-cell *matHeaderCellDef> First name  </th>
          <td mat-cell *matCellDef="let patient" > {{patient.firstName}}</td>
        </ng-container>
      
        <ng-container matColumnDef="LastName">
          <th mat-header-cell *matHeaderCellDef> Last name</th>
          <td mat-cell *matCellDef="let patient"> {{patient.lastName}} </td>
        </ng-container>
   
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let patient"> {{patient.email}} </td>
        </ng-container>
        <ng-container matColumnDef="Phone">
         <th mat-header-cell *matHeaderCellDef> Phone </th>
         <td mat-cell *matCellDef="let patient">{{patient.phone}} </td>
       </ng-container>
       <ng-container matColumnDef="Choose">
        <th mat-header-cell *matHeaderCellDef> Choose patient </th>
        <td mat-cell *matCellDef="let patient"><button class="button" (click)="Choose(patient)">Choose patient</button> </td>
      </ng-container>
      <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let patient"><button class="button" (click)="Edit(patient.id)">Edit</button> </td>
      </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   </mat-table>
    </div>     
    
    </mat-sidenav-container>

</div>
</div>


  