<div class="navbar">
    <mat-toolbar color="primary" class="navbar">
        <div> 
            <div> 
                <span (click)="navigate('home')">Home </span>
                <span (click)="navigate('edit')">Edit profile </span>
                <span (click)="navigate('material')">Material</span>
                <span (click)="navigate('equipment')">Equipment</span>
                <span (click)="navigate('workHour')">Work hour</span>
           </div>
       </div>
    </mat-toolbar> 
</div>
<div>
    <mat-card>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <h2>Add appointment material</h2>
                <mat-label>Select material</mat-label>
                    <mat-select formControlName="material" [(ngModel)]="selectedMaterial">
                        <mat-option *ngFor="let material of materials" value="{{material.id}}">{{material.name}}</mat-option>
                    </mat-select> 
                <mat-form-field>
                    <input matInput placeholder="Quatity" formControlName="quatity" required>
                </mat-form-field>  
                <button mat-raised-button class="button" >Add</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>