<div class="navbar">
    <mat-toolbar color="primary" class="navbar">
        <div> 
            <span (click)="navigate('home')">Home </span>
            <span (click)="navigate('edit')">Edit profile </span>
            <span (click)="navigate('products')">Products</span>
            <span (click)="navigate('priceList')">PriceList</span>
       </div>
    </mat-toolbar> 
</div>
<div>

</div>
<div>
        <mat-card>
          <div class="example-container mat-elevation-z8">
              <mat-table mat-table [dataSource]="priceLists">
                <ng-container matColumnDef="Date">
                  <mat-header-cell *matHeaderCellDef> Date</mat-header-cell>
                  <mat-cell *matCellDef="let priceList">{{priceList.date}}
                  </mat-cell>
                </ng-container>
                  <ng-container matColumnDef="Product">
                    <th mat-header-cell *matHeaderCellDef> Product </th>
                    <td mat-cell *matCellDef="let priceList">{{priceList.product.name}} </td>
                  </ng-container>
                  <ng-container matColumnDef="Price">
                    <th mat-header-cell *matHeaderCellDef> Price </th>
                    <td mat-cell *matCellDef="let priceList">{{priceList.product.price}} </td>
                  </ng-container>
                 
                   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                   <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
             </mat-table>
       
        </div>
        </mat-card>
</div>